# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Logs
npm-debug.log*

# Dependency directory
node_modules

# production
/build

# Optional npm cache directory
.npm

# misc
.vscode
bemster.py
*.bms
/src/pages
/src/index.html
