{
  "extends": "airbnb-base",
  "env": {
    "es2021": true
  },
  "parserOptions": {
    "ecmaVersion": "latest"
  },
  "plugins": [
    "import"
  ],
  "rules": {
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  }
}
