.card__image {
  position: relative;
  width: 100%;
  padding-top: 100%;
  background-size: cover, cover;
  background-position: center, left 27%;
  background-repeat: no-repeat;
  background-color: #555;
  cursor: pointer;
}
